body {
     background-color: #F5F9FC;
 
}

#okvir{
 background-color: white;
    width: 960px;
   margin-right: auto;
    margin-left: auto; 
    border: 1px solid #E3F0F9;
    // box-sizing: border-box;
     
}

#zaglavlje {
    color: Blue;
    font-size: 42px;
     background-color: #E8EAF7;
     height: 281px; 
      border-radius: 5px;
}
#firma{
    margin: 0 auto;
   // position: fixed; top: 200px; left:220px;
  
}

#zaglavlje.header{
    width: 980px;
    margin: 0 auto;
}

#meni{
    height: 59px;
    border-bottom: 1px solid b#E3F0F9;
    width: 935px;
    padding-left:25px;
    background-color: #E3F0F9;
}
#meni ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

#meni ul li a {
    text-decoration:none;
    float:left;
    margin-right:3px;
    color: black;
    border: 1px solid b#E3F0F9;
   border-bottom: none;
    padding: 20px;
    width: 100px;
    text-align: center;
    display: block;
   background:  #D7DDE9;  
   border-radius: 5px;
}

#meni ul li a:hover {
    background-color:#24ABE6;
    color: white;
}

#meni ul li a#onlink{
    background-color: white;
    color: black;
    border-bottom: 1px solid white;
}

#meni ul li a#onlink:hover{
    background-color:white;
    color: black;
}
#novosti{
      width: 640px;
       
}
#post{ margin: 0 auto;
     
    background-color: white;
    border: 1px solid #E3F0F9;
   width: 600px;
    border-top:  none;
     padding: 20px;
    float: left;  
}
.slika{
    float: left;
    padding: 10px;
}

#glavni{
    background-color: white;
     

}

#saStrane{
    width: 300px;
    background-color: yellow; 
    float: right;
    padding: 10px;
    
    
}

#footer{
   
   clear: both;
   height: 50px;
  
    background-color: #E3F0F9;
    text-align: center;
}
#partneri {
    background-color: white;
    color: black;
    width:960px;
}
