body {
     background-color: #F5F9FC;
 
}

#okvir{
 background-color: white;
    width: 960px;
   margin-right: auto;
    margin-left: auto; 
      border:  solid #E3F0F9;
   
     
}

#zaglavlje {
    color: Blue;
     background-color: #E8EAF7;
     height: 281px; 
     border-radius: 5px;
}
#naziv{
   font-size: 46px;
   position: relative; top:-220px; left: 125px;
  font-family: 'Orbitron', sans-serif;
  color: #22ADE7;
  font-weight: bold;
}
#ordinacija{
    font-size: 28px;
   position: relative; top:-240px; left: 40px;
  font-family: 'Orbitron', sans-serif;
  color: #22ADE7;  
}

#zaglavlje.header{
    width: 980px;
    margin: 0 auto;
}

#meni{
    height: 60px;
    border-bottom: 1px solid #E3F0F9;
    width: 935px;
    padding-left:25px;
    background-color: #E3F0F9;
}
#meni ul {
    list-style: none;
    margin: 0;
    padding: 0; 
}

#meni ul li a {
    text-decoration:none;
    float:left;
    margin-right:3px;
    color: black;
    border: 1px solid #E3F0F9;
   border-bottom: none;
    padding: 20px;
    width: 100px;
    height: 13px;
    text-align: center;
    display: block;
   background:  #D7DDE9;  
   border-radius: 5px;
   position: relative;
   
}

#meni ul li a:hover {
    background-color:#24ABE6;
    color: white;
}

#meni ul li a#onlink{
    background-color: white;
    color: black;
    
}

#meni ul li a#onlink:hover{
    background-color:white;
    color: black;
}
#novosti{
      width: 640px;
       
}
.post{ margin: 0 auto;
     
    background-color: white;
    border: 4px solid #E3F0F9;
   width: 600px;
    border-top:  none;
     padding: 20px;
    float: left;  
}
.slika{
    float: left;
    padding: 10px;
    
}
.Naslov{
    
    text-decoration: none;
    font-size: 40px;
    color: black;
     font-weight: bold;
}
.Naslov:hover {
    color: #22ADE7; 
}
.Autor{
    color: #d6d2d2;
    font-size: 12px;
    text-align: left;
}
.Datum{
 color: #d6d2d2;
    font-size: 12px;
    text-align: right;
}
.Sadrzaj{
    text-align: left;
}
.Tekst{
    float: right;
    width: 400px;
}
.Detaljnije{
    text-decoration: none;
     color: #22ADE7; 
      float: right;
}
.Detaljnije:hover {
      font-weight: bold;
      text-decoration: underline;
      
}
#glavni{
    background-color: white;
 

}

#saStrane{
    width: 300px;
    background-color: white; 
    float: right;
    padding: 10px;
    
}

#footer{
   
   clear: both;
   
  padding:30px;
    background-color: #E3F0F9;
    text-align: center;
}
#partneri {
    background-color: white;
    color: black;
    width:960px;
}
